/* label color */
   .input-field label {
     color: #fb8c00;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #fb8c00;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #fb8c00;
     box-shadow: 0 1px 0 0 #fb8c00;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #fb8c00;
     box-shadow: 0 1px 0 0 #fb8c00;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #fb8c00;
     box-shadow: 0 1px 0 0 #fb8c00;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #fb8c00;
   }
   .btn {
    background-color: #fb8c00;
   }
   blockquote {
    border-left: 3px solid #fb8c00;
    margin-bottom: -15px;
   }